include CHANGELOG INSTALL LICENSE MANIFEST.in README.rst AUTHORS
recursive-include docs *
recursive-include admin_tools/locale *
recursive-include admin_tools/static *
recursive-include admin_tools/dashboard/templates *
recursive-include admin_tools/menu/templates *
recursive-include admin_tools/theming/templates *
recursive-include admin_tools/dashboard/static *
recursive-include admin_tools/menu/static *
recursive-include admin_tools/theming/static *
