{% extends "dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<ul>
    {% spaceless %}
    {% for entry in module.entries %}
    <li class="{% cycle 'odd' 'even' %}">
        {% if entry.is_deletion %}
        <span class="deletelink">{% if entry.content_type %}{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}&nbsp;{% endif %}{{ entry.object_repr }}</span>
        {% else %}
        <a href="{{ entry.get_admin_url }}" class="{% if entry.is_addition %} addlink{% endif %}{% if entry.is_change %} changelink{% endif %}">{% if entry.content_type %}{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}&nbsp;{% endif %}{{ entry.object_repr }}</a>
        {% endif %}
        <span class="float-right">{{ entry.action_time|date }}</span>
    </li>
    {% endfor %}
    {% endspaceless %}
</ul>
{% endblock %}
