{% if not module.is_empty %}
    <div{% if index %} id="module_{{ index }}"{% endif %} class="{{ module.render_css_classes }}">
        <h2>{{ module.title }}</h2>
        <div class="dashboard-module-content">
            {% spaceless %}
            {% if module.pre_content %}
            <p>{{ module.pre_content }}</p>
            {% endif %}
            {% block module_content %}
            {% for child in module.children %}
            {{ child }}
            {% endfor %}
            {% endblock %}
            {% if module.post_content %}
            <p>{{ module.post_content }}</p>
            {% endif %}
            {% endspaceless %}
        </div>
    </div>
{% endif %}
